<!--The content below is only a placeholder and can be replaced.-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Fuzzy</title>
  </head>

  <body>
    <table>
      <tr>
        <b><p>Welcome to Fuzzy Search Engine.</p></b>
      </tr>

      <tr>
        <td>
          Type here!
        </td>
        <td>
          <input ng-required="input_word" type="text" #input_word />
        </td>
      </tr>

      <tr>
        <td><br /><br /></td>
      </tr>

      <tr>
        <td>
          <button (click)="search(input_word.value)">Submit</button>
        </td>
      </tr>
    </table>

    <br />
    <br />
    <div *ngIf="submitted">
      {{ results | json }}
    </div>
  </body>
</html>
<router-outlet></router-outlet>
